In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [19]:
# import oder.csv
df_ords = pd.read_csv(r'C:\Users\User\Documents\Instacart Basket Analysis\02 Data\Original Data\orders.csv', index_col = False)

In [13]:
path = r'C:\Users\User\Documents\Instacart Basket Analysis'

In [17]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [21]:
# import products.csv
df_prods = pd.read_csv(r'C:\Users\User\Documents\Instacart Basket Analysis\02 Data\Original Data\products.csv', index_col = False)

In [11]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [41]:
# import department.csv
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

In [33]:
# wrangling data of order.csv
df_ords = df_ords.drop(columns = ['eval_set'])

In [37]:
# changing a variable's data type in order.csv
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [43]:
# transposing departments.csv
df_dep_t = df_dep.T

In [45]:
new_header = df_dep_t.iloc[0]

In [47]:
df_dep_t_new = df_dep_t[1:]

In [49]:
df_dep_t_new.columns = new_header

In [51]:
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [ ]:
CREATING DATA DICTIONARY

In [53]:
data_dict = df_dep_t_new.to_dict('index')

In [55]:
print(data_dict.get('19'))

{'department': 'snacks'}

In [59]:
# step 2 : another variable that we dont need in df_ords 
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [61]:
# step 3 : rename column in order database
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [63]:
# checking changes
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [65]:
# step 4 : finding busiest hour in order database
df_ords['order_hour_of_day'].value_counts(dropna = True)

order_hour_of_day
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: count, dtype: int64

In [ ]:
Observation : the busiest time of the day to place order is 10 am.

In [67]:
# step 5: meaning of value 4 from data dictionary
print(data_dict.get('4'))

{'department': 'produce'}

In [ ]:
Observation : the department_id 4 corresponds to the category 'produce'

In [69]:
# step 6 : creating a subset for breakfast items. Identify dept. id of breakfast
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [71]:
# department id for breakfast is 14..creating a subset
df_prods_breakfast = df_prods.loc[df_prods['department_id'] == 14]

In [73]:
# checking results
df_prods_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

In [ ]:
depatment id for alcohol, deli, beverages and meat/seafood are respectively 5,20,7 and 12.

In [75]:
# step 7 : creating dinner party subset
df_prods_dinner_party = df_prods.loc[df_prods['department_id'].isin([5,7,12,20])]

In [ ]:
observation : the sales team can use the dataframe df_prods_dinner_party for their analysis.

In [77]:
# step 8 : find the number of rows
df_prods_dinner_party.shape

(7650, 5)

In [ ]:
Observation : the dinner party frame has 7650 rows.

In [79]:
# finding info about customer with user id 1.
df_user1 = df_ords.loc[df_ords['user_id'] == '1']

In [81]:
df_user1

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0
10,1187899,1,11,4,8,14.0

In [83]:
# step 10 statitics about the user 1 behaviour
df_user1.describe()

,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,11.000000,11.000000,11.000000,10.000000
mean,6.000000,2.636364,10.090909,19.000000
std,3.316625,1.286291,3.477198,9.030811
min,1.000000,1.000000,7.000000,0.000000
25%,3.500000,1.500000,7.500000,14.250000
50%,6.000000,3.000000,8.000000,19.500000
75%,8.500000,4.000000,13.000000,26.250000
max,11.000000,4.000000,16.000000,30.000000

In [ ]:
Observation : this user places his order from sunday to wednesday. Around 75% of the time he ordered at 1 pm. He places orders on average every 19 days. 
He never spend more than 30 days without placing any order, and has placed 2 orders in the same day.

In [85]:
# Export orders data frame
df_ords.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'))

In [87]:
# Export department data frame
df_dep_t_new.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'))