In [1]:
# import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [3]:
# import customer.csv file
df_customer = pd.read_csv(r'C:\Users\User\Documents\Instacart Basket Analysis\02 Data\Original Data\customers.csv')

In [5]:
path = r'C:\Users\User\Documents\Instacart Basket Analysis'

In [7]:
df_customer = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [9]:
df_customer.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [11]:
df_customer.shape

(206209, 10)

In [13]:
# check data types
df_customer.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [17]:
# Rename the columns to establish uniformity
df_customer.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [19]:
df_customer.rename(columns = {'Surnam' : 'last_name'}, inplace = True)

In [21]:
df_customer.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [23]:
df_customer.rename(columns = {'STATE' : 'state'}, inplace = True)

In [25]:
df_customer.rename(columns = {'Age' : 'age'}, inplace = True)

In [27]:
df_customer.rename(columns = {'fam_status' : 'marital_status'}, inplace = True)

In [29]:
# check columns
df_customer.columns

Index(['user_id', 'first_name', 'last_name', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'marital_status', 'income'],
      dtype='object')

The columns has been successfully renamed and are now better clear.

In terms of dropping columns, we probably need all the columns for efficient result

# task 5: complete the fundamental data quality and consistency check.

In [32]:
df_customer.dtypes

user_id            int64
first_name        object
last_name         object
gender            object
state             object
age                int64
date_joined       object
n_dependants       int64
marital_status    object
income             int64
dtype: object

In [34]:
# check mixed data type in df customer data frame
for col in df_customer.columns.tolist():
  weird = (df_customer[[col]].map(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customer[weird]) > 0:
    print (col)

first_name

The first name has mixed data type that need to be addressed

In [36]:
df_customer['first_name'] = df_customer['first_name'].astype('str')

In [62]:
# user id doesn't have mixed data type but has wrong data type, changing it to string
df_customer['user_id'] = df_customer['user_id'].astype('str')

In [64]:
# checking the results
df_customer.dtypes

user_id           object
first_name        object
last_name         object
gender            object
state             object
age                int64
date_joined       object
n_dependants       int64
marital_status    object
income             int64
dtype: object

now, there is no mixed data type in dataframe and all are properly listed

In [44]:
# checking for missing values in df customer
df_customer.isnull().sum()

user_id           0
first_name        0
last_name         0
gender            0
state             0
age               0
date_joined       0
n_dependants      0
marital_status    0
income            0
dtype: int64

There is no missing values in the dataframe

In [46]:
# finding duplicates in df customer
df_customer_dups = df_customer[df_customer.duplicated()]

In [48]:
df_customer_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, n_dependants, marital_status, income]
Index: []

There is no duplicate records found in customer dataframe

In [50]:
# Descriptive statistics check to ensure everything looks normal
df_customer.describe()

                 age   n_dependants         income
count  206209.000000  206209.000000  206209.000000
mean       49.501646       1.499823   94632.852548
std        18.480962       1.118433   42473.786988
min        18.000000       0.000000   25903.000000
25%        33.000000       0.000000   59874.000000
50%        49.000000       1.000000   93547.000000
75%        66.000000       3.000000  124244.000000
max        81.000000       3.000000  593901.000000

There is nothing unusual in customer dataframe

# step 6 combine your customer data with the rest of your prepared data

In [52]:
# import the last prepared order product aggregated data
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_aggregated.pkl'))

In [54]:
ords_prods_merge.shape

(32404859, 25)

In [56]:
df_customer.shape

(206209, 10)

In [58]:
# checking the data type of order product merge dataframe
ords_prods_merge.dtypes

product_id                   int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
order_id                     int64
user_id                      int64
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
first_order                   bool
add_to_cart_order            int64
reordered                    int64
_merge                    category
price_range_loc             object
busiest_day                 object
busiest_days                object
busiest_period_of_day       object
max_order                    int64
loyalty_flag                object
average_spend              float64
spender_flag                object
customer_frequency         float64
frequency_flag              object
dtype: object

In [66]:
# checking datatype of customer dataframe
df_customer.dtypes

user_id           object
first_name        object
last_name         object
gender            object
state             object
age                int64
date_joined       object
n_dependants       int64
marital_status    object
income             int64
dtype: object

The common column in both data frames is user id, but has different data types, changing it both in string

In [68]:
ords_prods_merge['user_id'] = ords_prods_merge['user_id'].astype('str')

In [70]:
# reconfirm the data type
ords_prods_merge.dtypes

product_id                   int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
order_id                     int64
user_id                     object
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
first_order                   bool
add_to_cart_order            int64
reordered                    int64
_merge                    category
price_range_loc             object
busiest_day                 object
busiest_days                object
busiest_period_of_day       object
max_order                    int64
loyalty_flag                object
average_spend              float64
spender_flag                object
customer_frequency         float64
frequency_flag              object
dtype: object

In [72]:
# drop the _merge column fromm previous exercise
ords_prods_merge = ords_prods_merge.drop(columns = ['_merge'])

In [75]:
# merge the two dataframe using the key column user_id
cust_ords_prods = ords_prods_merge.merge(df_customer, on = 'user_id', indicator = True)

In [77]:
# check the shape of newly merged dataframe
cust_ords_prods.shape

(32404859, 34)

In [79]:
cust_ords_prods.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,first_name,last_name,gender,state,age,date_joined,n_dependants,marital_status,income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Deborah,Glass,Female,Vermont,66,6/16/2018,2,married,158302,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Heather,Myers,Female,Wisconsin,40,2/9/2020,3,married,31308,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Heather,Myers,Female,Wisconsin,40,2/9/2020,3,married,31308,both

In [81]:
# check inner join value counts
cust_ords_prods['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [83]:
# export the new data frame as pickle file
cust_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers_merged.pkl'))